@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@600&family=Prompt&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Noto Sans Thai', sans-serif;
}

.mainArea{
  width:auto;
  height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.mainArea a{
  font-size:20px;
  color:black;
  text-decoration: none;
}

.linkArea{
  display: flex;
  justify-content: space-between;
}